.b_warnings {
    margin: 0;
    padding: 0;
    list-style: none;
}

.b_warnings__item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: var(--space-2);
    color: var(--theme-warning);
    font-size: var(--font-size-s);
}

.b_warnings__item--error {
    color: var(--theme-danger);
}
